div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h3 All glory to the hypnotoad!
.container
  .row
    .col-lg-12
      h1.page-header Gifs:
      ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6(ng-repeat='thing in awesomeThings')
        li
          a(ng-click='setFilename(thing.name)')
            | {{thing.name}}
      img(ng-src='content/{{filename}}')

footer.footer
  .container
    p
      | Brought to you by Nadams