h1 HELLO {{message}}

//- div(ng-include='"components/navbar/navbar.html"')

//- header#banner.hero-unit
//-   .container
//-     h3 All glory to the hypnotoad!
//- .container
//-   .row
//-     .col-lg-12
//-       h1.page-header Gifs:
//-       img(ng-src='content/{{contentList.active()}}')

//- footer.footer
//-   .container
//-     p
//-       | Brought to you by Nadams