h1
  &nbsp;
  div.message(display-message="timer" fader=2000)
  &nbsp;&nbsp;
  div.message(display-message="keypress" fader=1000)
  &nbsp;&nbsp;
  div.message(display-message="action" fader=1000)

.topcorner
  p Giffing, by Adam Pacholski.&nbsp;
    a(href='https://github.com/apachols/giffing') @GitHub
  p Thx to gif artists, sources&nbsp;
    a(href='https://github.com/apachols/giffing') here.
  a(href='https://open.spotify.com/genre/chill') Need music?
  p &nbsp;
  p
    u Controls
  p &lt; &gt;: prev/next
  p [space]: pause/play
  p - +: slower/faster
  p s: (re)shuffle

//- header#banner.hero-unit
//-   .container
//-     h3 All glory to the hypnotoad!
//- .container
//-   .row
//-     .col-lg-12
//-       h1.page-header Gifs:
//-       img(ng-src='content/{{contentList.active()}}')