h1
  &nbsp;
  div.message(display-message="timer")
  &nbsp;&nbsp;
  div.message(display-message="keypress" fader=1000)
  &nbsp;&nbsp;
  div.message(display-message="action" fader=1000)

//- header#banner.hero-unit
//-   .container
//-     h3 All glory to the hypnotoad!
//- .container
//-   .row
//-     .col-lg-12
//-       h1.page-header Gifs:
//-       img(ng-src='content/{{contentList.active()}}')